@model GSTUWebSchedule_MVC.Models.ResetPasswordExactModel
@{
    string lang = "ru";
    if (Context.Request.Cookies.ContainsKey("lang")) lang = Context.Request.Cookies["lang"];

    ViewData["Title"] = Translate.Tr("Reset password", lang);
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/favicon.ico" rel="icon" type="image/ico">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @if (Model != null)
                    {
                        if (Model.Error == "ok")
                        {
                            <div class="alert alert-dark" style="color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; text-align: center;" role="alert">@Translate.Tr("Your password has been changed by \"Reset password\"! ", lang)</div>
                        }
                        else
                        if (Model.Error == "error")
                        {
                            <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;" role="alert">@Translate.Tr("Something went wrong! Are you sure you entered the correct passwords?", lang)</div>
                        }
                    }
                    <hr style="color: black; border: 1px solid lightgrey;" />
                    <button class="btn btn-primary" onClick="window.location.href='/Account/Login';">@Translate.Tr("Log in", lang)</button>
                </section>
            </div>
        </div>
    </div>
    <!--      _
          .__(.)< (MEOW)
           \___)
    ~~~~~~~~~~~~~~~~~~-->
</body>
</html>
